@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: myFont;
  src: url(assets/minecraft.ttf);
}
@font-face {
  font-family: mySmallFont;
  src: url(assets/Minecraft_small.otf);
}
